<!doctype html>
<html
    lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "header.html" . }}
        <div id="Header__SpaceHolder"></div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            {{ partial "footer.html" (dict "page" . "site" .Site "menuID" "main") }}
        </footer>
        {{ partialCached "js.html" . }}
    </body>
</html>
