{{ define "main" }}
    <div class="w-full flex justify-center items-center bg-teal-light">
        <div class="w-full max-w-content px-mobile-margin py-8  lg:px-0">
            {{ partial "heading.html" (dict "level" 1 "text" .Title) }}
            {{ .Content }}

            {{ partial "news.html" (dict "pages" .Pages.ByDate.Reverse) }}
        </div>
    </div>
{{ end }}
