{{ define "main" }}
    <div
        id="hjem"
        class="w-full flex justify-center items-center bg-teal-light"
    >
        <div
            class="w-full max-w-content py-6 px-mobile-margin lg:px-0 lg:py-12"
        >
            <div class="gap-3 flex flex-row mb-4">
                {{ if .PrevInSection }}
                    {{ with .PrevInSection }}
                        <a
                            class="bg-teal py-1 px-2 hover:bg-teal-dark hover:text-white transition duration-75 flex flex-row items-center"
                            href="{{ .RelPermalink }}"
                        >
                            {{ .LinkTitle }}
                            {{ with resources.Get "icon/chevron-left.svg" }}
                                <img
                                    src="{{ .RelPermalink }}"
                                    class="ml-2 h-[1em] inline-block leading-none"
                                    width="10"
                                    height="16"
                                    alt="Forrige nyhet"
                                    type="image/svg+xml"
                                />
                            {{ end }}
                        </a>
                    {{ end }}
                {{ end }}
                {{ if .NextInSection }}
                    {{ with .NextInSection }}
                        <a
                            class="bg-teal py-1 px-2 hover:bg-teal-dark hover:text-white transition duration-75 flex flex-row items-center"
                            href="{{ .RelPermalink }}"
                        >
                            {{ with resources.Get "icon/chevron-right.svg" }}
                                <img
                                    src="{{ .RelPermalink }}"
                                    class="mr-2 h-[1em] inline-block leading-none"
                                    width="10"
                                    height="16"
                                    alt="Neste nyhet"
                                    type="image/svg+xml"
                                />
                            {{ end }}
                            {{ .LinkTitle }}
                        </a>
                    {{ end }}
                {{ end }}
            </div>
            <hr class="mx-2 my-4 border-teal" />

            {{ with .Page.Resources.Match "img/{*.jpg,*.png,*.jpeg}" }}
                {{ if len . | eq 1 }}
                    {{ with index . 0 }}
                        {{ partial "picture.html" (dict
                            "size" "400x400"
                            "image" .
                            "alt" ""
                            "class" "max-w-full mb-6 mx-auto"
                            "imgClass" "mx-auto mb-6 max-h-96 max-w-full object-contain"
                            )
                        }}
                    {{ end }}
                {{ else }}
                    <div
                        class="js-flickity mb-12 mx-auto"
                        data-flickity-options='{"wrapAround": true}'
                    >
                        {{ range . }}
                            {{ partial "picture.html" (dict
                                "size" "400x400"
                                "image" .
                                "alt" ""
                                "class" ""
                                "imgClass" "mx-1 aspect-square object-contain"
                                )
                            }}
                        {{ end }}
                    </div>
                {{ end }}
            {{ end }}
            <div class="max-w-prose mx-auto">
                <div>
                    <h1 class="uppercase text-2xl">{{ .Title }}</h1>

                    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                    {{ $dateHuman := .Date | time.Format ":date_long" }}
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>
                <hr class="border-teal-dark border-dashed my-3" />
                <div class="flex flex-col gap-2">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
