{{ define "main" }}
    {{ $params := $.Site.Data.home.notFound }}
    <div id="hjem" class="w-full flex justify-center items-center">
        <div class="w-full max-w-content lg:py-12">
            <h1 class="text-3xl">{{ $params.heading }}</h1>
            {{ range $params.paragraphs }}
                <p>{{ . }}</p>
            {{ end }}
        </div>
    </div>
{{ end }}
