{{ define "main" }}
    {{ $params := $.Site.Data.home }}

    {{ $storefront := resources.Get "img/storefront.jpg" }}
    {{ with $params.intro }}
        <div id="hjem" class="w-full flex justify-center items-center">
            <div class="w-full max-w-content lg:py-12 relative">
                {{ partial "picture.html" (dict 
                    "size" "720x405"
                    "lg" "1024x576"
                    "md" "768x432"
                    "image" $storefront
                    "alt" "Butikkfasade"
                    "class" "block object-cover w-full lg:w-3/5"
                ) }}
                <div
                    class="
                        bg-white
                        lg:-translate-y-1/2
                        lg:absolute
                        lg:bg-teal
                        lg:right-0
                        lg:shadow-[6px_5px_6px_rgba(0,0,0,0.11)]
                        lg:top-1/2
                        lg:w-3/5
                        px-mobile-margin
                        py-8
                        lg:py-mobile-margin
                    "
                >
                    {{ partial "heading.html" (dict "level" "1" "text" .heading) }}
                    {{ partial "paragraphs.html" .paragraphs }}
                    <!-- {{ partial "button.html" .button }} -->
                </div>
            </div>
        </div>
    {{ end }}

    {{ $webshop := resources.Get "img/webshop.jpg" }}
    {{ with $params.webshop }}
        <div
            id="tise"
            class="
                w-full
                flex
                justify-center
                items-center
                bg-teal
            "
        >
            <div
                class="
                    w-full
                    max-w-content
                    lg:py-12
                    lg:flex
                    lg:flex-row-reverse
                    lg:items-center
                    lg:justify-between
                    lg:gap-6
                "
            >
                {{ partial "picture.html" (dict
                    "size" "588x393"
                    "lg" "1024x685"
                    "md" "768x514"
                    "image" $webshop
                    "alt" "Nettbutikk"
                    "class" "w-full lg:w-1/2"
                ) }}
                <div
                    class="
                        w-full
                        lg:w-1/2
                        px-mobile-margin
                        py-8
                        lg:py-0
                        lg:px-0
                    "
                >
                    {{ partial "heading.html" (dict "text" .heading) }}
                    {{ partial "paragraphs.html" .paragraphs }}
                    {{ partial "link_button.html" (dict "label" .link.label "href" .link.href) }}
                </div>
            </div>
        </div>
    {{ end }}

    {{ with $params.news }}
        <div
            id="nyheter"
            class="w-full flex justify-center items-center bg-teal-light"
        >
            <div class="w-full max-w-content px-mobile-margin py-8 lg:px-0">
                {{ partial "heading.html" (dict "text" .heading) }}
                {{ partial "news.html" (dict
                    "pages" $.Site.RegularPages.ByDate.Reverse
                    "class" "hidden [&:nth-child(-n+2)]:inline md:[&:nth-child(-n+6)]:inline"
                    )
                }}

                {{ $buttonLabel := .see_more_button_label }}
                {{ with resources.Get "icon/arrow-right.svg" }}
                {{ partial "link_button_dark.html"
                    ( dict
                    "label" (printf "%s %s" $buttonLabel (printf "<img class=\"h-full object-contain inline-block\" src=\"%s\" width=\"14\" height=\"16\" alt=\"Se mer nyheter\" />" .RelPermalink ))
                    "href" "/nyheter"
                    "class" "mt-4 inline-flex items-center gap-2"
                    )
                }}
                {{ end }}
            </div>
        </div>
    {{ end }}

    {{ with $params.opening_hours }}
        <div
            id="aapningstider"
            class="w-full flex justify-center items-center bg-teal"
        >
            <div
                class="
                    w-full
                    max-w-content
                    lg:py-12
                    lg:flex
                    lg:flex-row
                    lg:items-center
                    lg:justify-between
                    lg:gap-6
                "
            >
                <div
                    class="w-full lg:w-1/2 px-mobile-margin py-8 pb-3 lg:pb-8 lg:py-0 lg:px-0"
                >
                    {{ partial "heading.html" (dict "text" .heading) }}
                    {{ partial "paragraphs.html" .paragraphs }}
                </div>
                <div
                    class="flex flex-row items-center text-xl p-7 pt-3 lg:pt-7 lg:p-0"
                >
                    <ul class="pr-5 flex gap-1 flex-col">
                        {{ range site.Params.OpeningHours }}
                            <li class="text-right">{{ .day }}:</li>
                        {{ end }}
                    </ul>
                    <ul
                        class="
                            flex
                            gap-1
                            flex-col
                            bg-white
                            shadow-[0px_3px_6px_rgba(0,0,0,0.11)]
                            py-mobile-margin
                            px-5
                            w-96
                            max-w-screen
                        "
                    >
                        {{ $prefix := .hours_prefix }}
                        {{ $closed_text := .closed_text }}
                        {{ range site.Params.OpeningHours }}
                            <li>
                                {{ if not (isset . "open") -}}
                                    {{ $closed_text -}}
                                {{ else -}}
                                    {{ $prefix }} {{ .open }} -
                                    {{ .close -}}
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    {{ end }}

    {{ $theme_room_imgs := slice
        "img/theme_room_1.jpg"
        "img/theme_room_2.jpg"
        "img/theme_room_3.jpg"
        "img/theme_room_4.jpg"
        "img/theme_room_5.jpg"
        "img/theme_room_6.jpg"
    }}
    {{ with $params.theme_room }}
        <div
            id="temarom"
            class="w-full flex justify-center items-center bg-teal-light"
        >
            <div class="w-full max-w-content lg:py-12">
                <div class="p-mobile-margin lg:p-0">
                    {{ partial "heading.html" (dict "text" .heading) }}
                    {{ partial "paragraphs.html" (slice .paragraph) }}
                    {{ range .sections }}
                        <h3 class="uppercase text-lg">{{ .heading }}</h3>
                        {{ partial "paragraphs.html" (slice .paragraph) }}
                    {{ end }}
                </div>
                <div
                    class="px-5 lg:px-0 pb-7 lg:pb-0 grid gap-5 lg:gap-20 grid-cols-2 grid-rows-2 lg:grid-cols-3 lg:grid-rows-2"
                >
                    {{ range $theme_room_imgs }}
                        {{ with resources.Get . }}
                            {{ partial "picture.html" (dict
                                "size" "350x350"
                                "lg" "482x482"
                                "md" "354x354"
                                "sm" "290x290"
                                "image" .
                                "alt" "Temarom fyllbilde"
                                "class" "lg:[&:nth-child(2)]:block [&:nth-child(2)]:hidden lg:[&:nth-child(6)]:block [&:nth-child(6)]:hidden object-cover"
                                "imgClass" "block"
                            ) }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    {{ $gift_card := resources.Get "img/gift_card.jpg" }}
    {{ with $params.gift_card }}
        <div
            id="gavekort"
            class="w-full flex justify-center items-center bg-teal"
        >
            <div
                class="
                    lg:flex
                    lg:flex-row
                    lg:gap-6
                    lg:items-center
                    lg:justify-between
                    lg:py-12
                    max-w-content
                    w-full
                "
            >
                <div
                    class="w-full lg:w-1/2 px-mobile-margin py-8 lg:py-0 lg:px-0"
                >
                    {{ partial "heading.html" (dict "text" .heading) }}
                    {{ partial "paragraphs.html" .paragraphs }}
                </div>
                {{ partial "picture.html" (dict
                    "size" "588x393"
                    "lg" "1024x685"
                    "md" "768x514"
                    "sm" "640x429"
                    "image" $gift_card
                    "alt" "Gavekort"
                    "class" "w-full lg:w-1/2"
                    "imgClass" "block"
                ) }}
            </div>
        </div>
    {{ end }}

    {{ $about := resources.Get "img/about.jpg" }}
    {{ with $params.about }}
        <div
            id="om-oss"
            class="w-full flex justify-center items-center bg-teal-light"
        >
            <div
                class="
                    lg:flex
                    lg:flex-row
                    lg:gap-6
                    lg:items-center
                    lg:justify-between
                    max-w-content
                    lg:py-12
                    w-full
                "
            >
                <div
                    class="w-full lg:w-1/2 px-mobile-margin py-8 lg:py-0 lg:px-0"
                >
                    {{ partial "heading.html" (dict "text" .heading) }}
                    {{ partial "paragraphs.html" .paragraphs }}
                </div>
                {{ partial "picture.html" (dict
                    "size" "588x588"
                    "lg" "1024x1024"
                    "md" "768x768"
                    "sm" "640x640"
                    "image" $about
                    "alt" "Om oss"
                    "class" "w-full lg:w-1/2"
                    "imgClass" "block"
                ) }}
            </div>
        </div>
    {{ end }}

    <!-- {{ $newsletter := resources.Get "img/newsletter.jpg" }} -->
    <!-- {{ with $params.newsletter }} -->
    <!--     <div -->
    <!--         id="nyhetsbrev" -->
    <!--         class="w-full flex justify-center items-center bg-teal" -->
    <!--     > -->
    <!--         <div -->
    <!--             class=" -->
    <!--                 lg:flex -->
    <!--                 lg:flex-row -->
    <!--                 lg:gap-6 -->
    <!--                 lg:items-center -->
    <!--                 lg:justify-between -->
    <!--                 lg:py-12 -->
    <!--                 max-w-content -->
    <!--                 w-full -->
    <!--             " -->
    <!--         > -->
    <!--             <div -->
    <!--                 class="w-full lg:w-1/2 px-mobile-margin py-8 lg:py-0 lg:px-0" -->
    <!--             > -->
    <!--                 {{ partial "heading.html" (dict "text" .heading) }} -->
    <!--                 {{ partial "paragraphs.html" .paragraphs }} -->
    <!--                 <form -->
    <!--                     method="POST" -->
    <!--                     action="/newsletter_signup.php" -->
    <!--                     class="flex flex-col items-start gap-2" -->
    <!--                 > -->
    <!--                     <input -->
    <!--                         name="email" -->
    <!--                         aria-label="E-postadresse" -->
    <!--                         class=" -->
    <!--                             w-1/2 -->
    <!--                             min-w-40 -->
    <!--                             shadow-[0_3px_6px_rgba(0,0,0,0.11)] -->
    <!--                         " -->
    <!--                     /> -->
    <!--                     {{ partial "submit_button.html" .button }} -->
    <!--                 </form> -->
    <!--             </div> -->
    <!--             <img -->
    <!--                 src="{{ $newsletter.RelPermalink }}" -->
    <!--                 width="{{ $about.Width }}" -->
    <!--                 height="{{ $about.Height }}" -->
    <!--                 class="w-full lg:w-1/2" -->
    <!--             /> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- {{ end }} -->
{{ end }}
