{{- $site := .site }}
{{- $page := .page }}
{{- $menuID := .menuID }}


<div class="w-full flex justify-center items-center bg-white">
    <div
        class="
        lg:flex
        lg:flex-row
        lg:gap-6
        lg:items-start
        lg:justify-between
        lg:px-0
        max-w-content
        pb-20
        pt-12
        px-mobile-margin
        w-full
        "
    >
        <div class="w-full lg:w-1/2">
            {{ partial "heading.html" (dict "text" "Lenker") }}
            {{ with index site.Menus $menuID }}
                <nav class="grid grid-cols-4 gap-1">
                    {{ partial "inline/footer/nav.html" (dict "page" $page "menuEntries" .) }}
                </nav>
            {{ end }}
            {{ partial "socials.html" (dict "class" "mt-2" "socials" $site.Params.Socials) }}
        </div>
        <div class="w-full lg:w-1/2 mt-10 lg:mt-0">
            <h2 class="text-2xl">{{ $site.Params.Name }}</h2>
            <ul>
                <li>
                    Telefonnummer:
                    <span class="font-semibold">{{ $site.Params.Phone }}</span>
                </li>
                <li>
                    E-post:
                    <span class="font-semibold">{{ $site.Params.Email }}</span>
                </li>
                <li>
                    Besøksaddresse:
                    <span class="font-semibold"
                        >{{ $site.Params.Address }}</span
                    >
                </li>
                <li>
                    Organisasjonsnummer:
                    <span class="font-semibold"
                        >{{ $site.Params.OrgNumber }}</span
                    >
                </li>
            </ul>
        </div>
        <!-- <p>Copyright {{ now.Year }}. All rights reserved.</p> -->
    </div>
</div>

{{ define "partials/inline/footer/nav.html" }}
    {{ $page := .page }}
    {{- range .menuEntries }}
        {{- $attrs := dict "href" .URL }}

        {{- if $page.IsMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "aria-current" "page") }}
        {{- end }}

        {{- $name := .Name }}
        <a
            class="underline"
            {{- range $k, $v := $attrs }}
                {{- with $v }}
                    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                {{- end }}
            {{- end -}}
            >{{ $name }}</a
        >
    {{- end }}
{{ end }}
