{{ $logo := resources.Get "img/logo.png" }}
<header
    id="Header"
    class="
        bg-teal-dark
        fixed
        flex
        items-center
        justify-center
        w-screen
        z-50
    "
>
    <div
        class="
            flex
            flex-row
            items-center
            justify-between
            max-w-content
            px-mobile-margin
            py-2.5
            relative
            w-full
        "
    >
        <a href="/">
            {{ partial "picture.html" (dict
                "size" "180x49"
                "image" $logo
                "alt" "Hjem"
                "class" ""
                "imgClass" "object-contain"
                )
            }}
        </a>
        {{ partial "home_menu.html" (dict "menuID" "main" "page" .) }}
    </div>
</header>
