<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>
    {{ if .IsHome }}
        {{ site.Title }}
    {{ else }}
        {{ printf "%s | %s" .Title site.Title }}
    {{ end }}
</title>
{{ partialCached "head/meta.html" . }}
{{ partialCached "head/favicon.html" . }}
{{ partialCached "head/font.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/script.html" . }}
