{{- /*
    Renders a menu for the given menu ID.

    @context {page} page The current page.
    @context {string} menuID The menu ID.

    @example: {{ partial "home_menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}


<div id="hamburger-container" class="flex flex-row gap-4">
    <div
        id="hamburger"
        class="group flex flex-col items-center justify-center gap-2 w-10 cursor-pointer h-full"
        aria-label="Menu"
        tabindex="0"
    >
        {{ range seq 3 }}
            <div
                class="
              bg-white
              h-0.5
              lg:bg-[#dddddd]
              lg:group-hover:bg-[#ffffff]
              transition-colors
              w-full
            "
            ></div>
        {{ end }}
    </div>
</div>
<div
    id="menu"
    class="
      align-center
      bg-teal-dark
      bottom-0
      fixed
      flex
      flex-col
      hidden
      justify-between
      left-0
      right-0
      text-white
      top-12
      z-10
      lg:absolute
      lg:bottom-[unset]
      lg:left-[unset]
      lg:p-7
      lg:right-0
      lg:top-[100%]
    "
>
    <a id="opening-hours" href="/#aapningstider">
        <div class="flex justify-center gap-2 grow items-center text-white">
            <div
                id="opening-indicator"
                class="h-[25px] w-[25px] rounded-full bg-red bg-green"
            ></div>
            <div id="opening-text" class="uppercase"></div></div
    ></a>
    <nav
        id="nav"
        class="
          flex
          flex-col
          grow-0
          items-center
          justify-center
          shrink-0
          lg:items-end
        "
    >
        {{- with index site.Menus $menuID }}
            {{- range . }}
                <a
                    href="{{ .URL }}"
                    class="
                      menu-item
                      flex
                      justify-center
                      p-2
                      text-3xl
                      lg:text-2xl
                    "
                >
                    {{ .Name }}
                </a>
            {{- end }}
        {{- end }}
    </nav>
    {{ partial "socials.html" (dict "class" "grow justify-center mt-4" "socials" site.Params.Socials) }}
</div>
<script id="opening-hours-data" type="application/json">
{{ encoding.Jsonify site.Params.OpeningHours | safe.JS }}
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const hamburger = document.getElementById('hamburger');
        const menu = document.getElementById('menu');
        const openingHours = document.getElementById('opening-hours');
        const openingIndicator = document.getElementById('opening-indicator');
        const openingText = document.getElementById('opening-text');
        const openingHoursData = document.getElementById('opening-hours-data');
        const header = document.getElementById('Header');
        const openingHoursDataValue = JSON.parse(openingHoursData.textContent);
        const hamburgerContainer = document.getElementById(
            'hamburger-container',
        );
        const html = document.querySelector('html');
        if (
            !hamburger ||
            !hamburgerContainer ||
            !header ||
            !html ||
            !menu ||
            !openingHours ||
            !openingHoursData ||
            !openingHoursDataValue ||
            !openingIndicator ||
            !openingText
        ) {
            return;
        }

        // Toggle menu visibility on hamburger click
        hamburger.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
        // Hide menu on item click
        menu.querySelectorAll('.menu-item').forEach((item) => {
            item.addEventListener('click', () => {
                menu.classList.add('hidden');
            });
        });
        // Navigating to opening hours should hide the menu
        openingHours.addEventListener('click', () => {
            menu.classList.add('hidden');
        });
        // Clicking outside the menu should hide it
        document.addEventListener('click', (event) => {
            if (
                !menu.contains(event.target) &&
                !hamburger.contains(event.target)
            ) {
                menu.classList.add('hidden');
            }
        });

        // Set menu position to below header
        const headerHeight = header.offsetHeight;
        menu.style.top = `${headerHeight}px`;
        html.style.scrollPaddingTop = `${headerHeight}px`;

        // Move opening hours to the right place depending on screen size
        const moveOpeningHours = () => {
            if (window.innerWidth < 1024) {
                menu.prepend(openingHours);
            } else {
                hamburgerContainer.prepend(openingHours);
            }
        };
        moveOpeningHours();
        window.addEventListener('resize', moveOpeningHours, false);

        // Evaluate opening hours depending on current time and update every
        // minute
        const evaluateOpeningHours = () => {
            const now = new Date();
            const day = now.getDay() - 1;
            const hours = now.getHours();
            const minutes = now.getMinutes();
            const dayOfWeek = day % 7;
            const currentDay = openingHoursDataValue.at(dayOfWeek);
            const closedColor = 'bg-rose-400';
            const openColor = 'bg-green-400';
            // Thanks copilot
            if (currentDay.open && currentDay.close) {
                const open = currentDay.open.split(':');
                const close = currentDay.close.split(':');
                const openHour = parseInt(open[0], 10);
                const openMinute = parseInt(open[1], 10);
                const closeHour = parseInt(close[0], 10);
                const closeMinute = parseInt(close[1], 10);
                if (
                    (hours > openHour ||
                        (hours === openHour && minutes >= openMinute)) &&
                    (hours < closeHour ||
                        (hours === closeHour && minutes <= closeMinute))
                ) {
                    openingIndicator.classList.add(openColor);
                    openingIndicator.classList.remove(closedColor);
                    openingText.textContent = `Åpent til kl. ${currentDay.close}`;
                } else {
                    openingIndicator.classList.add(closedColor);
                    openingIndicator.classList.remove(openColor);
                    openingText.textContent = `Åpent i dag ${currentDay.open} - ${currentDay.close}`;
                }
            } else {
                openingIndicator.classList.add(closedColor);
                openingIndicator.classList.remove(openColor);
                openingText.textContent = 'Stengt i dag';
            }
        };
        evaluateOpeningHours();
        setInterval(evaluateOpeningHours, 1000 * 60);
    });
</script>
