{{- with resources.Get "js/main.js" }}
    {{- if eq hugo.Environment "development" }}
        {{- with . | js.Build }}
            <script src="{{ .RelPermalink }}"></script>
        {{- end }}
    {{- else }}
        {{- $opts := dict "minify" true }}
        {{- with . | js.Build $opts | fingerprint }}
            <script
                src="{{ .RelPermalink }}"
                integrity="{{- .Data.Integrity }}"
                crossorigin="anonymous"
            ></script>
        {{- end }}
    {{- end }}
{{- end }}
{{- with resources.Get "js/flickity.min.js" | fingerprint }}
    {{- if eq hugo.Environment "development" }}
        <script src="{{ .RelPermalink }}"></script>
    {{- else }}
        <script
            src="{{ .RelPermalink }}"
            integrity="{{- .Data.Integrity }}"
            crossorigin="anonymous"
            async
            defer
        ></script>
    {{- end }}
{{- end }}
<script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"
    integrity="sha256-5Va7QwUhC/J6Qt62aqKNuki+mUiEAweeDKx6cP2qU7M="
    crossorigin="anonymous"
></script>
