{{ $pages := .pages }}
{{ $extraClass := .class }}
<div
    class="
        auto-rows-fr
        gap-x-[6vw]
        gap-y-[6vw]
        grid
        grid-cols-1
        lg:gap-y-[3vw]
        lg:grid-cols-3
        pt-2
        sm:grid-cols-2
    "
>
    {{ range $pages }}
        {{ $pageTitle := .LinkTitle }}
        {{ $pageDate := .Date }}
        <a
            {{ with $extraClass }}class="{{ $extraClass }}"{{ end }}
            href="{{ .RelPermalink }}"
            x-data="{ date: new Date('{{ time.Format "2006-01-02T15:04:05Z0700" $pageDate }}') }"
            x-show="window.location.hostname == 'localhost' || date.valueOf() <= Date.now()"
        >
            <div
                class="
                    w-full
                    aspect-square
                    relative
                "
            >
                {{ with .Resources }}
                    {{ with .GetMatch "img/{cover.*,*.jpg,*.png,*.jpeg}" }}
                        {{ partial "picture.html" (dict
                            "size" "352x352"
                            "lg" "462x462"
                            "sm" "600x600"
                            "md" "341x341"
                            "image" .
                            "alt" $pageTitle
                            "class" "block w-full aspect-square"
                            "imgClass" "block object-cover"
                            )
                        }}
                    {{ end }}
                {{ end }}
                <div
                    class="
                        absolute
                        bg-teal
                        bottom-[10%]
                        flex
                        flex-col
                        items-center
                        p-2
                        md:p-3
                        w-full
                    "
                >
                    <h3 class="uppercase text-lg text-center">
                        {{ $pageTitle }}
                    </h3>
                    <div class="text-sm text-center">
                        {{ time.Format "02.01.06" $pageDate }}
                    </div>
                </div>
            </div>
        </a>
    {{ end }}
</div>
