<ul class="flex flex-row gap-2 {{ .class | default "" }}">
    {{ range .socials }}
        {{ $name := .name }}
        {{ $url := .url }}
        {{ with resources.Get .icon }}
            <li>
                <a href="{{ $url }}">
                    {{ partial "picture.html" (dict
                        "size" "32x32"
                        "image" .
                        "alt" $name
                        "class" ""
                        "imgClass" "object-contain size-8"
                        )
                    }}
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
